<!DOCTYPE html>
{% extends "navbar.html" %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveLife Fitness Studio</title>
    <link rel="stylesheet" href="style_home.css">
</head>
<body>
    <header>
        <script src="calendar.js"></script>
        <script>
            window.onload = loadNavbar;
        </script>
    </header>

    <main>
        <div class="hero">
            <div class="hero-content">
                <h1>ActiveLife <br>Fitness Studio</h1><br>

                <p>
                    <a href="tel:+357 99999999" class="icon-link">
                        <img src="../Pictures/phone-icon.png" alt="Phone Icon" class="icon"> +357 99999999
                    </a>
                </p>

                <p>
                    <a href="https://www.instagram.com/agapios.agapiou/" target="_blank" class="icon-link">
                        <img src="../Pictures/instagram-icon.png" alt="Instagram Icon" class="icon"> Agapios Agapiou
                    </a>
                </p>
                <p>
                    <a href="https://maps.app.goo.gl/DZmL6jm8wez21Dhy8" target="_blank" class="icon-link">
                        <img src="../Pictures/location-icon.png" alt="Location Icon" class="icon"> Ipokratous Street 6, Perahoryo
                    </a>
                </p>
            </div>
        </div>
    </main>

    <script src="home.js"></script>
</body>
</html>