<link rel="stylesheet" href="Home/style_home.css">
<nav class="navbar">
    <div class="logo">
        <button class="logo-btn" alt="Fitness Studio Logo" onclick="location.href='#home';"></button>
    </div>

    <nav class="navbar">
        <a href="#calendar"><u>Calendar</u></a>
        <a href="#enrollments"><u>Enrollments</u></a>
        <a href="#payments"><u>Payments</u></a>
        <a href="#about"><u>About Us</u></a>
    </nav>

    <div class="login">
        <a href="#login" class="login-link">
            <img src="../Pictures/Account-icon.png" alt="LogIn Icon" class="login-image">
            <span class="login-text"><u>Login</u></span>
        </a>
    </div>

</nav>
