{% extends "navbar.html" %}

{% block content %}
<link rel="stylesheet" href="../static/calendar.css">
<script src="../static/calendar.js"></script>

<main>
    <div class="content" id="calendar_box">

        <div class="box">
            <div class="column" id="monday">
                <div class="day" id="monday-day"></div>
<!--                <div class="class-box"></div>-->
            </div>
            <div class="column" id="tuesday">
                <div class="day" id="tuesday-day"></div>
<!--                <div class="class-box"></div>-->
            </div>
            <div class="column" id="wednesday">
                <div class="day" id="wednesday-day"></div>
<!--                <div class="class-box"></div>-->
            </div>
            <div class="column" id="thursday">
                <div class="day" id="thursday-day"></div>
<!--                <div class="class-box"></div>-->
            </div>
            <div class="column" id="friday">
                <div class="day" id="friday-day"></div>
<!--                <div class="class-box"></div>-->
            </div>
            <div class="column" id="saturday">
                <div class="day" id="saturday-day"></div>
<!--                <div class="class-box"></div>-->
            </div>
            <div class="column" id="sunday">
                <div class="day" id="sunday-day"></div>
<!--                <div class="class-box"></div>-->
            </div>
        </div>

    </div>

    <script>
        const calendarData = {
            classes: {{ classes | tojson }},
            startDate: {{ start_date }},
            endDate: {{ end_date }}
        };
    </script>
</main>
{% endblock %}
